<!DOCTYPE html>
<html>
<head>
  <title>Receipe Manager App </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<div class="container">
  
  <%= render  'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  
</div>
</body>
</html>
